@import url('https://fonts.googleapis.com/css?family=Poppins');

.navbar {
    background-color: #fffefe;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    /* right: 0; */
  }
  
  .logo img {
    height: 90px;
    min-width: 44px;
    min-height: 44px;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    margin: 0;
    font-family: "Poppins";
    padding: 10px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 400;
  }
  
  .nav-links i {
    padding: 5px;
  }
  
  .nav-links a:hover {
    color: #f2f2f2;
  }
  
  .nav-home {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .nav-links svg {
    font-size: 14px; 
    margin-right: 5px; 
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    min-width: 160px;
    z-index: 1;
    font-family: "Poppins"; 
    border-radius: 10px
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-weight: 400;
  }
  
  .dropdown-content a:hover {
    background-color: #FF6207;
  }
  
  .header-right {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 5px;
    margin-right: 10px;
  }
  
  .search-bar input[type="text"] {
    border: none;
    outline: none;
    padding: 5px;
    flex-grow: 1;
  }
  
  .search-button {
    background-color: #FF6207;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #006688;
  }
  
  .nav-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.profile {
    margin-top: 90px;
    margin-left: 100px;
    display: flex;
    align-items: flex-start;
    padding: 30px;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.user-info img {
    margin-right: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.user-info h2 {
    font-size: 20px;
    margin: 0;
}
.menu {
  margin-top: 20px;
  

}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
}
.menu button{
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  width: 150px;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}


.menu button:hover 
{
  background-color: #FF6207;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  color: #fff;

}
.container{
    width: 70%;
}
.user-details button{
    margin-left: 90%;
    color: black;
}

h2 {
    font-size: 20px;

}

form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}
.inputan  {
  display: flex;
  justify-content: space-between;
  gap:20px;
}
.inputan .field1 {
  width: 180px;
  border: none;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  gap :2px   
}
.inputan .field2 {
  width: 180px;
  border: none;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  gap :2px   
}

.namauser{
  gap: 5px;
}
label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    background-color: #f7f8f8;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    color: #FF6207;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button:hover 
{
  background-color: #FF6207;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  color: #fff;

}
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 10px;
    height: 45vh;
}

/* Gaya untuk footer bagian kiri */
.footer-left {
    float: left;
    width: 33.33%;
    font-size: 10px;
}

.footer-left img {
    width: 80px;
}

/* Gaya untuk footer bagian tengah */
.footer-center {
    float: left;
    width: 33.33%;
}

.footer-center i {
    margin: 5px;
}

/* Gaya untuk footer bagian kanan */
.footer-right {
    float: left;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-right p {
    padding-right: 120px;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 100px;
}

.item i {
    margin: 10px;
}

/* Gaya teks dalam footer */
footer p {
    margin: 0;
    padding: 10px;
}

/* Gaya tautan dalam footer */
footer a {
    color: white;
    text-decoration: none;
}

/* Gaya tautan saat dihover */
footer a:hover {
    text-decoration: underline;
}



